* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#722f37, #924678);
}

.card-container {
  text-align: center;
}

.card-container__list {
  list-style: none;
  display: grid;
  grid-template-columns: 35rem 35rem 35rem;
}

.card {
  margin: 2%;
  border-radius: 1rem;
}

.card--back,
.card--front
  {
  animation: fadeIn .5s ease-in;
  border: 1px solid black;
  border-radius: 1rem;
  min-height: 15rem;
  box-shadow: .1rem .1rem .4rem #333;
  /* transform: rotateY(180deg) */
  backface-visibility: hidden;
  transition: all .2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }

  50% {
    /* opacity: 0.5; */
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1.0;
    transform: rotateY(180deg);
  }

}