* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 2rem;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.card {
  border: 1px solid black;
  margin: 2%;
  border-radius: 10px;
}