.App {
  text-align: center;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.card {
  border: 1px solid black;
  margin: 2%;
  border-radius: 2%;
}